.main__hero-countries {
    position: relative;
    background: url(../img/bg-countries.jpg) center no-repeat;
    background-size: cover;
    height: 385px ;
    z-index: -1;
}

.main__hero-countries::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.33);
    z-index: -1;
}

.main__hero-countries__inner {
    padding: 82px 0 32px;
}

.main__hero-countries__title {
    font-weight: 800;
    font-size: 100px;
    line-height: 1.35;
}
.main__hero-countries__subtitle {
    max-width: 695px;
}


.countries__inner {
}
.countries__title {
}
.countries__list {
    margin-top: 46px;

}
.countries__item {
    display: flex;
    border-radius: 30px;
    width: 256px;
    height: 60px;
    background: #f8f8f8;
    padding: 10px;
}

.countries__item img{
    width: 40px;
}
.countires__link {
}
.country__inner {
    display: flex;
    flex-direction: column;
    margin-left: 13px;
    justify-content: center;
}
.country__name {
    font-weight: 500;
    font-size: 16px;
    color: #000;
    margin-bottom: 2px;
    text-transform: none;
}
.country__desc {
    font-weight: 300;
    font-size: 14px;
    color: #585858;
}