/*?====================================== PRIORITY-HERO ======================================*/


.hero--priority {
    position: relative;
    background:url(../img/bg-hero-priority.png) no-repeat center/cover;
    height: 385px;
    z-index: -1;
}

.hero--priority::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.26);
    z-index: -1;
}

.hero__inner--priority {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 385px ;
}

.hero__title {
    font-size: 100px;
    line-height: 1.35;
}


/*?====================================== PRIORITY-ABOUT ======================================*/


.about {
    margin: 100px 0 145px;
}

.about__priority-title {
    margin-bottom: 45px;
}

.about__priority-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about__priority-text {
    width: 486px;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.62;
}


/*?====================================== PRIORITY-NEW LEVEL ======================================*/

.new__level {
    background: #f8f8f8;
}

.new__level-inner {
    padding: 140px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new__level-title {
    text-align: center;
    max-width: 487px;
    width: 100%;
}

.new__level-list {
    margin: 52px 0 60px;
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
}

.new__level-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 13px;
    background: #fff;
    padding: 23px 20px;
    border-radius: 30px;
    max-width: 256px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.86;
    text-transform: uppercase;
}

.new__level__image-list {
    display: flex;
    gap: 32px;
}


/*?====================================== PRIORITY-ADVANTAGES ======================================*/


.advantages-inner {
    padding: 158px 0 114px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantages-title {
    text-align: center;
    max-width: 487px;
    width: 100%;
    margin-bottom: 32px;
}

.advantages-grid {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr) ;
}

.advantages-grid-item--1,
.advantages-grid-item--4,
.advantages-grid-item--5 {
    padding: 47px 0 24px 69px;
}

.advantages-grid-item-title {
    margin-bottom: 25px;
}

.advantages-item-list {
    display: flex;
    flex-direction: column;
    gap: 23px;
    font-weight: 300;
    line-height: 1.62;
}

.advantages-item {
    display: flex;
    align-items: center;
    gap: 9px;
}


/*?====================================== PRIORITY-ANSWERS ======================================*/


.answers {
    background: #f8f8f8;
}

.answers__inner {
    padding: 135px 0 162px;
}

.answers__title {
    font-weight: 500;
    font-size: 32px;
    color: #1c1c1c;
    text-align: left;
    max-width: 413px;
    margin-bottom: 70px;
}

.answers__item{
    width: 100%;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #1c1c1c;
}

.answers__item:last-child{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.accordion-header {
    position: relative;
    cursor: pointer;
    border-top: 1px solid #ccc;
    margin: 10px 0 0;
    text-transform: none;
    padding-top: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordion-header::after {
    content: '+';
    position: absolute;
    right: 10px;
    transition: transform 0.3s ease;
    font-weight: 300;
    font-size: 32px;
    line-height: 81%;
    color: #a1a1a1;
}

.accordion-header.active::after {
    content: '-';
    font-size: 68px;
    line-height: 38%;
    text-align: center;
    color: #a1a1a1;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    padding: 10px 0 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.62;
}


/*?====================================== PRIORITY-relaxation ======================================*/


.relaxation-priority-inner{
    padding: 131px 0 140px;
    padding-left: max(15px, calc((100% - 1150px) / 2));
}
.relaxation-priority {
}
.relaxation-priority-inner img{
    width: 352px;
    border-radius: 30px;
}
.relaxation-priority-title {
    text-align: center;
    width: 602px;
    margin-bottom: 52px;
    margin-left: 25%;
}
.relaxation-priority__slider {
}
.swiper {
}
.relaxation-priority__wrapper {
}
.swiper-wrapper {
}
.relaxation-priority__slide {
}
.swiper-slide {
}
.relaxation-priority__scrollbar {
}
.swiper-scrollbar {
}