@import url('reset.css');
@import url('fonts.css');
@import url('swiper-bundle.css');
@import url('header.css');
@import url('main.css');
@import url('footer.css');
@import url('variables.css');

body{
    font-family: 'Roboto', sans-serif;
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    width: 1150px;
    margin: 0 auto;
    padding: 0 15px;
}
h1{
    font-weight: 800;
    font-size: 128px;
    line-height: 105%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

h2{
    font-weight: 500;
    font-size: 44px;
    text-transform: uppercase;
    color: #1c1c1c;
    }

h3{
    font-weight: 400;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

h4{
font-weight: 300;
font-size: 24px;
text-transform: uppercase;
color: #1c1c1c;
}

h5{
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
}

@media (max-width: 1024px) {
    .container{
        width: 928px;
    }

    h1{
        font-size: 92px;
    }
    
    h5{
        font-size: 14px;
    }
}

@media (max-width: 1024px){
    .container{
        width: 330px;
    }
    h1{
        font-size: 40px;
    }
    h3{
        font-size: 16px;
    }
}